* {
    margin: 0;
    font-family: 'Work Sans';
}


/* ----------------------------
              header
------------------------------- */


.header {
    background: #FFF8F3;
}

.header .architects-header {
    display: flex;
    padding: 50px 160px 102px;
}

.architects-header {
    justify-content: space-between;

    align-items: center;
}

.header .architects-header .nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}


ul {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 18px;
    color: #424242;

}




/* -------------------------------
              Banner section 
--------------------------------*/




.header .banner .banner-title-section {
    margin: 0 300px 50px;
    text-align: center;
}

.header .banner .banner-title-section .banner-title {
    font-weight: 650;
    font-size: 64px;
    color: #131313;
}

.header .banner .banner-description {
    font-size: 15px;
    color: #727272;
    padding-top: 20px;
    padding-bottom: 32px;
}

.btn-primary {
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    background: #FF900E;
    margin-bottom: 50px;
}


.header .banner .banner-image {
    padding: 0 150px 45px;
    width: 1040px;
    height: 500px;
    align-items: center;
}




/*-----------------------------------
            Features Starts 
-------------------------------------*/



.features {
    display: flex;
    gap: 60px;
    margin: 85px 190px 130px;

}

.features .feature-image {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

}

.feature-image-size {
    width: 220px;
    height: 220px;
}



.features .feature-title-section .feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding-top: 80px;
}


.features .feature-title-section .feature-title-bold {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}

.features .feature-title-section .text-primary {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.features .feature-title-section .feature-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-top: 20px;
    padding-bottom: 30px;
}

.features .feature-title-section .btn-primary {}





/* -----------------------------
            Features End- 
--------------------------------*/



/*----------------------------------
     Love & Enjoy Starts 
------------------------------------*/




.features-love {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 150px;
}

.features-love .features-love-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 53px;
    color: #131313;
    padding-bottom: 24px;
    padding-top: 65px;
    padding-left: 10px;
}

.features-love .architect {
    width: 540px;
    height: 950px;
    padding-left: 100px;
}

.vertical {
    border-left: 6px solid orange;
    height: 30px;
    padding-top: 65px;
}

.features-love .features-love-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 20px;

}

.features-love .features-article {
    display: flex;
    flex-direction: column;
    margin: 0 10px 20px;
    gap: 25px;
    background: #FFFFFF;

}


.features-love .features-article .article-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    padding-bottom: 10px;
}

.article-container {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;
}

.article-container .article-description {

    font-size: 16px;

    color: #727272;

}

.button {
    text-align: center;
    position: relative;
    top: -85px;
}

.button .button-primary {
    color: #FFFFFF;
    width: 180px;
    height: 100px;
    font-weight: 600;
    font-size: 30px;
    border: 0;
    border-radius: 5px;
    background: #FF900E;
    
}

.button .button-primary #small{
    font-size: 15px;
}

/*-------------------------
     some-facts starts
---------------------------*/

.some-facts {
    margin: 0 150px 50px;
}

.some-facts .some-facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-bottom: 24px;
}



.some-facts .some-facts-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 100px;
}

.some-facts .facts-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.some-facts .facts-items .fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 15px;

}



/* -----------------------------------
              Hover Section
------------------------------------ */



.some-facts .facts-items .fact:hover {
    border: 5px solid #FF900E;

}



/*-------------------------
     some-facts ends
---------------------------*/


/* ------------------------
         sponors
--------------------------- */

.sponsors {
    margin: 0 150px 50px;
}


.sponsors .sponsors-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;

}

.sponsors .sponsors-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 0 250px 100px;
    text-align: center;
}

.sponsors .sponsors-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

}

.blend {
    mix-blend-mode: luminosity;
}



/* ---------------------------
             footer
------------------------------ */
.footer {

    width: 50%;
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    margin: 100px 370px 100px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding: 15px;

}